<div class="container">
    <br>
    <h2>Select a template</h2>
    <div class="row">
        <div class="col-md-6">
            <a href="/resume-maker/1">
                <img class="img-fluid" src="/img/resume-blue.png "  alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="/resume-maker/2">
                <img class="img-fluid" src="/img/resume-green.png" alt="">
            </a>
        </div>
    </div>
</div>